    <nav class="navbar navbar-white bg-white existing-class tall">
        <a class="navbar-brand" href="uniserv2.html">
            <img src="/logo.png" width="40" height="30" class="d-inline-block align-top" alt="" ;>
            Uniserv
        </a>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WELLNESS/BEAUTY
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="eyebrows" href="/eyebrows" > Eyebrows </button> <br />
                    <button class="btn btn-white" id="makeup" href="/makeup" > Makeup </button> <br />
                    <button class="btn btn-white" id="haircut" href="/haircut"> Haircut </button> 
                </div>
        </div>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EVENT
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="dj" href="/dj" > DJ </button> <br />
                    <button class="btn btn-white" id="mc" href="/mc"> MC </button> <br />
                    <button class="btn btn-white" id="photography" href="/photography"> Photography </button> 
                </div>
        </div>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WORK
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="webdesign" href="/webdesign"> Web Design </button> <br />
                    <button class="btn btn-white" id="graphicdesign" href="/graphicdesign"> Graphic Design </button> <br />
                    <button class="btn btn-white" id="appdevelopment" href="/app development"> App Development </button> 
                </div>
        </div>
      
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="pages.js"></script>

    