    <nav class="navbar navbar-white bg-white existing-class tall">
        <a class="navbar-brand" href="uniserv2.html">
            <img src="/logo.png" width="40" height="30" class="d-inline-block align-top" alt="" ;>
            Uniserv
        </a>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WELLNESS/BEAUTY
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="eyebrows" href="/eyebrows" > Eyebrows </button> <br />
                    <button class="btn btn-white" id="makeup" href="/makeup" > Makeup </button> <br />
                    <button class="btn btn-white" id="haircut" href="/haircut"> Haircut </button> 
                </div>
        </div>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EVENT
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="dj" href="/dj" > DJ </button> <br />
                    <button class="btn btn-white" id="mc" href="/mc"> MC </button> <br />
                    <button class="btn btn-white" id="photography" href="/photography"> Photography </button> 
                </div>
        </div>
        <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    WORK
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-white" id="webdesign" href="/webdesign"> Web Design </button> <br />
                    <button class="btn btn-white" id="graphicdesign" href="/graphicdesign"> Graphic Design </button> <br />
                    <button class="btn btn-white" id="appdevelopment" href="/app development"> App Development </button> 
                </div>
        </div>
      
        <div class="navbar-brand" >
            <button id="mylogger">
                {{loginStatus}}          
            </button>
        </div>   
    </nav>

    <script src="main.js"></script>