<!DOCTYPE html>
<html>
    <head>
        <title>Eyebrows</title>    
        <link rel="stylesheet" href="/styles/forms.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato" rel="stylesheet">
    </head>
    <body>
        <h1> hey there this is for eyebrows </h1>
    </body>
</html>