<!DOCTYPE html>
<html>
    <head>
        {{> header}}
        <title>Login</title>    
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="/login.css" />
       <!-- <link rel="stylesheet" href="/styles/forms.css" /> -->
        
    </head>
    <body>
        <div id="login-wrap mx-auto">
            <form method="POST" class="login-form form">
                <h1 class="logo">Freelancers: Log In to View Your Profile Here</h1>
                {{#if loginMessage}}
                <div class="errorMessage">
                    {{loginMessage}}
                </div>
                {{/if}}
                <div class="input-wrap">
                    <label for="username">Username: </label> </br>
                    <input type="text" name="username" />
                </div>
                <div class="input-wrap">
                    <label for="password">Password: </label> </br>
                    <input type="password" name="password" />
                </div>
                <button type="submit">Log Me In</button> </br>
                </br>
                <a href="/register" class="switch" > Click here to Create a New Profile</a>
            </form>
        </div>
    </body>
</html>