<!DOCTYPE html>
<html>
    <head>
        
        <title>Login</title>    
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/login.css" />
        <link rel="stylesheet" href="/uniserv2.css">

       <!-- <link rel="stylesheet" href="/styles/forms.css" /> -->
        
    </head>
    <body>
        {{> header}}
        <div id="login-wrap" class="loginpg">
            <form method="POST" class="login-form form">
                <h1 class="logo">Freelancers: Log In to View Your Profile Here</h1>
                {{#if loginMessage}}
                <div class="errorMessage">
                    {{loginMessage}}
                </div>
                {{/if}}
                <div class="input-wrap">
                    <label for="username">Username: </label> </br>
                    <input type="text" name="username" />
                </div> </br>
                <div class="input-wrap">
                    <label for="password">Password: </label> </br>
                    <input type="password" name="password" />
                </div> </br>
                <button type="submit" class="submitlogin">Log Me In</button> </br>
                </br>
                <a href="/register" class="switch" > Create a New Profile</a>
            </form>
        </div>
    </body>
</html>