<!DOCTYPE html>
<html>
    <head>
        <title>Register Here</title>    
        <link rel="stylesheet" href="/styles/login.css" />
        <link rel="stylesheet" href="/styles/forms.css" />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato" rel="stylesheet">
    </head>
    <body>
        <div id="login-wrap">
            <form method="POST" class="login-form form">
                <h1 class="logo">Freelancers: Register for a New Account Here</h1>
                {{#if registerMessage}}
                <div class="errorMessage">
                    {{registerMessage}}
                </div>
                {{/if}}
                
                <div class="input-wrap">
                    <label for="username">username</label>
                    <input type="text" name="username" />
                </div>
                <div class="input-wrap">
                    <label for="password">password</label>
                    <input type="password" name="password" />
                </div>

                <div class="input-wrap">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" />
                </div>
                <div class="input-wrap">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" />
                </div>
                <div class="input-wrap">
                    <label for="ruemail">RU Email</label>
                    <input type="text" name="ruemail" />
                </div>
                <select name="category">
                    <option value="wellness/beauty">wellness/beauty</option>
                    <option value="event">event</option>
                    <option value="work">work</option>
                </select>
                <button type="submit">Register</button>
            </form>
        </div>
    </body>
</html>