<!DOCTYPE html>
<html>
    <head>
        <title>Create Your Profile</title>    
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/login.css" />
        <link rel="stylesheet" href="/uniserv2.css">
    </head>
    <body>
        {{> header}}

        <div id="login-wrap" class="regpg">
            <form method="POST" class="login-form form ">
            <table>
                <h1 class="logo">Freelancers: Create Your Profile Here</h1>
                <img src="events.png" >
                {{#if registerMessage}}
                <div class="errorMessage">
                    {{registerMessage}}
                </div>
                {{/if}}
                <tr> 
                <div class="input-wrap">
                   <td> <label for="username">Username: </label> </td>
                   <td>  <input class="inputter" type="text" name="username" /> </td>
                </div>
                </tr>
                <tr>
                <div class="input-wrap">
                   <td>  <label for="password">Password: </label> </td>
                   <td>  <input type="password" name="password" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                  <td>  <label for="fname">First Name: </label> </td>
                  <td>   <input type="text" name="fname" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                   <td>  <label for="lname">Last Name: </label> </td>
                   <td>  <input type="text" name="lname" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                   <td>  <label for="ruemail">Rutgers Email: </label> </td>
                   <td>  <input type="text" name="ruemail" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                  <td>   <label for="category">Category (wellness/beauty, event, work): </label> </td>
                   <td>  <input type="text" name="category" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                  <td>  <label for="service">Service within that category: </label> </td> 
                  <td>   <input type="text" name="service" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                  <td>  <label for="price">How much do you charge? </label> </td>
                  <td>   <input type="number" name="price" /> </td>
                </div>
                </tr>

                <tr>
                <div class="input-wrap">
                  <td>   <label for="servicebio">Enter a message for your customers: </label> </td>
                  <td>   <input type="text" name="servicebio" /> </td>
                </div></br>
                </tr>
                </table> </br>
                <p> You will be notified once your service has been approved and posted! </p>
                <button type="submit" class="btn btn-dark">Create</button> </br> </br>
            </form>
        </div>
    </body>
</html>