body {
    font-family: 'Raleway', sans-serif!important;
}

.loginpg {
    margin-top:125px;
    text-align:center;
}

.login-form {
    background-color: peachpuff;
}

.regpg {
    margin-top:50px;
    margin-bottom: 50px;
    text-align:center;
}

.input-wrap {
    font-weight: bold;  
}

table {
    text-align: center;
}

