body {
    font-family: 'Raleway', sans-serif!important;
}

.loginpg {
    margin-top:125px;
    text-align:center;
}

.login-form {
    background-color: peachpuff;
}

.regpg {
    margin-top:50px;
    margin-bottom: 50px;
    text-align:center;
}

.input-wrap {
    font-weight: bold;  
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tbody {
    text-align: center;
}

#mylogger {
    border-style: none;
    border-width: 0;
}