body {
    font-family: 'Raleway', sans-serif!important;
}

.loginpg {
    margin-top:125px;
    text-align:center;
}

.login-form {
    background-color: peachpuff;
}

.regpg {
    margin-top:125px;
    margin-bottom: 125px;
    text-align:center;
}