body {
    font-family: 'Raleway', sans-serif!important;
}

h1 {
    text-align: center;
}

main {
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
}

.card-img-top {
    margin-top: 25px;
    width: 250px;
    height:250px;
}

.card {
    width: 360px;
    height: 500px;
    background-color: #b3b3b3;
}

.card-title {
    color:#FE5C60;
    font-weight: bold;
    text-align: center;
}

