nav {
    border-bottom:3px solid lightgrey;padding-bottom:10px
}

#carouselExampleSlidesOnly {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn
{
    color:#FE5C60;
}

body {
    font-family: 'Raleway', sans-serif!important;
}

.tall{height:70px}

.down {
    text-align:center;
    color:#FE5C60;
}

.jumbotron {
    margin:0px;
}

.pic {
    padding-right:12px;
    
}

.person {
    margin-bottom:40px;
}

.display-4 {
    color:#FE5C60;
}

.navbar-brand {
    color: #808089;
}

